.container-banner{
  padding : 30px 80px;
  margin-bottom: 20px;
}

.container-seasons{
  padding : 30px 80px;
}


.container-list{
  padding-top: 20px;
padding-left: 560px;
}

.container-japan{
  padding : 30px 80px;
  margin-top:80px;
}

.container-soda{
  padding-top:100px;
  width:800px;
  margin :0 auto;
}

.container-place{
  padding-top:80px;
  padding-bottom: 100px;
  width:800px;
  margin :0 auto;
}